/* Generado por matugen — NO editar a mano, se sobreescribe con cada wallpaper */
* {
	background:          #1a1111;
	background-color:    #1a1111;
	background-alt:      #534342;
	foreground:          #f1dedd;
	active-background:   #534342;

	color0:  #1a1111;
	color1:  #534342;
	color2:  #e7bdb9;
	color3:  #e1c28c;
	color4:  #733330;
	color5:  #93000a;
	color6:  #5d3f3d;
	color7:  #f1dedd;
	color8:  #a08c8a;
	color9:  #ffb4ab;
	color10: #ffb3ae;
	color11: #e1c28c;
	color12: #ffb3ae;
	color13: #e7bdb9;
	color14: #e1c28c;
	color15: #f1dedd;
}
